<div>
    <h2>Präsident</h2>
    <p>
        Norbert Eidam<br>
        Spanntalstraße 37<br>
        38685 Langelsheim<br>
    </p>
    <img src="../../assets/images/eml_praesident.svg" alt="eml an Praesi">
    <p>
        Der Praesident ist beim HKN fuer alles zustaendig ausser Beitraege
        und Internetpraesenz. 
        Sollte er selbst nicht weiter helfen koennen, 
        vermittelt er einen passenden Ansprechpartner.
    </p>
</div>

<div>
    <h2>Internetpraesenz</h2>
    <p>
        Ralf Krauth<br>
        Felsenbirnenweg 8<br>
        79189 Bad Krozingen<br>
    </p>
    <img src="../../assets/images/eml_website.svg" alt="eml an Webmaster"> 
    <p>
        Der Webmaster ist beim HKN fuer alles zustaendig, 
        was mit der Internetpraesenz zu tun hat,
        also z.B. fuer die Texte und Bilder,
        die Kontaktliste oder Fehler auf der Seite 
    </p>	
</div>
      
<div>
    <h2>Clubkasse</h2>
    <p>
        Jörg Meyer<br>
        Kleifeld 25<br>
        30539 Hannover<br>
    </p>
    <img src="../../assets/images/eml_kasse.svg" alt="eml an Kassenwart">
    <p>
        Der Kassenwart ist fuer die Kassenfuehrung und die Beitraege zustaendig.
        Wir bitten unsere Mitglieder, einen Dauerauftrag oder eine Einzugsermaechtigung
        fuer die Beitraege einzurichten.
        Der Beitrag wird jeweils zum 01.09. des Jahres faellig.
    </p>

    <h3>Bankverbindung</h3>
    <p>
        IBAN: DE08 2004 1144 0537 6850 00<br>
        BIC: COBADEHD044<br>	
        Jahresbeitrag: Erwachsene 25€, Jugendliche (unter 18): 12,50€
    </p>
</div>