<div>
    <h2>Wir über uns</h2>
    <p> Wer uns bis heute noch nicht kennt, dem sei es hier geschwind verraten: </p>
    <p> 
        Die Halbwilden Kajakfahrer Norddeutschland -&nbsp;oder kurz, der HKN&nbsp;- 
        wurde im Jahr 1981 in Ahrensburg in der Nähe von Hamburg gegründet.
        Ursprüngliche Idee war es, im Norden Deutschlands einen Zusammenschluss von Paddlern zu organisieren. 
        Was dabei zunächst herauskam, war jedoch ein Haufen durchgeknallter, 
        rüpelhafter und ungehobelter Wilder, die sich beim Deutschen Kanu-Verband (DKV) 
        schnell maximal unbeliebt machten.
        Gleichzeitig entstiegen den Reihen des HKN aber auch einige Koryphäen, 
        die das Wildwasserpaddeln damals revolutionierten.
    </p>
    <p>
        Heuer ist Frieden eingekehrt zwischen DKV und HKN.
        Zusammen mit weiteren Paddelklubs, dem Landeskanuverband Niedersachsen 
        und den Harzwasserwerken ermöglichen wir regelmäßig Sonderablasszeiten auf der Oker.
        Und noch immer sind wir sehr aktiv - mehrmals im Jahr treffen wir uns im Harz, 
        in den Alpen oder anderswo, um gemeinsam zu paddeln.	
    </p>
    <p>
        Da wir uns nach wie vor mehr als Zusammenschluss von Paddlern denn als Kanu-Club sehen, 
        bieten wir keine Paddelausbildung an.
        Gerne sorgen wir jedoch mit unseren Treffen für zahlreiche Übungsmöglichkeiten unter Gleichgesinnten,
        bei denen auch die Geselligkeit nicht zu kurz kommt.
        Im Gegensatz zu vielen Paddelvereinen nehmen wir für unsere Treffen grundsätzlich keine Organisationsgebühr,
        und unser moderater Jahresbeitrag wird zu großen Teilen für gemeinsames Frühstück und 
        Abendessen bei unseren Treffen verwendet.
    </p>
</div>
<div>
    <h2>Mitglied werden</h2>
    <p>			
        Solltest Du Interesse am HKN haben, 
        dann kontaktiere uns doch einfach per mail oder komm' auf einem unserer Treffen vorbei.
    </p>
    <p>
        Neue Mitglieder werden bei uns in der Regel zunächst als sogenannte 'Newcomer' aufgenommen.
        Dies bietet uns und Euch die Chance zum gegenseitigen Kennenlernen, 
        weshalb die Teilnahme an unseren Veranstaltungen in dieser Zeit besonders erwünscht ist.
    </p>
    <p>
        In der Regel nach etwa einem Jahr kann dann die Aufnahme als Mitglied erfolgen.
        Hierüber entscheiden die anwesenden Mitglieder beim jeweiligen Jahrestreffen per Handzeichen.
    </p>
    <p>
        Besondere paddlerische Fähigkeiten sind keine Voraussetzung für die Aufnahme als Mitglied.
        Eine realistische Einschätzung des eigenen Könnens und ein gruppendienliches Verhalten
        haben sich jedoch als hilfreich erwiesen.
    </p>
    <p>
        Paddelfreudige Gäste sind bei unseren Treffen ebenfalls immer gerne gesehen;
        manche sind uns seit Jahren treu.
        Hier freuen wir uns gegebenenfalls über eine kleine Beteiligung an den Unkosten
        für Grillkohle, Grillgut, Brötchen und so weiter.
    </p>
</div>
